html
    head
    body
        h1 用户信息
        each item,key in table
            p #{key}
            ul
                each val,key in item
                    li #{key}:#{val}
            p ........................